<p id="notice" class="alert alert-success" style="align:center"><%= notice %></p>

<div class="container">
  <h1>Minh's blog</h1>
  <h3>My 1st rails application for CoderSchool</h3>

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>